.root {
  text-align: center;

  &__image {
    display: block;
    border-radius: 16px;
    margin: 0 auto;
    width: 300px;
    height: 183px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
