/* stylelint-disable */

@font-face {
    font-family: "Maven";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/mavenpro-regular.woff2") format("woff2"), url("fonts/mavenpro-regular.woff") format("woff")
}

@font-face {
    font-family: "Maven";
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/mavenpro-bold.woff2") format("woff2"), url("fonts/mavenpro-bold.woff") format("woff")
}

@font-face {
    font-family: "ScotchText";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/scotchtext-roman.woff2") format("woff2"), url("fonts/scotchtext-roman.woff") format("woff")
}

@font-face {
    font-family: "dividers";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/dividers.woff2") format("woff2"), url("fonts/dividers.woff") format("woff")
}

@font-face {
    font-family: "GiorgioSans";
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/giorgiosans-bold.woff2") format("woff2"), url("fonts/giorgiosans-bold.woff") format("woff")
}

@font-face {
    font-family: "GiorgioSans-Light";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/giorgiosans-light.woff2") format("woff2"), url("fonts/giorgiosans-light.woff") format("woff")
}

@font-face {
    font-family: "bestlady";
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/bestlady.woff2") format("opentype"), url("fonts/bestlady.woff") format("opentype")
}

