@import "src/sass/mixins";

.root {
  &__error {
    color: #a30f27;
    margin: 20px 0;
  }

  &__paragraph {
    @include paragraph-spacing-styling;
  }

  &__button {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
