$theme-font-family: "Wasabi", sans-serif;

// heading font
$heading-font-size: 30px;
$heading-font-weight: bold;
$heading-font-color: #000;

// body font
$body-font-size: 14px;
$body-font-color: #000;
