$theme-font-family: "Wasabi", sans-serif;

// todo: colours could be defined higher up as more abstract concepts as primary, secondary, etc colour
// it might become clearer what can be done once we have more values to work with

// heading font
$heading-font-size: 80px;
$heading-font-weight: bold;
$heading-font-color: #054127;

// body font
$body-font-size: 18px;
$body-font-color: #054127;
