.root {
  $ratio: 1312 / 800;

  &__image-section {
    position: relative;
    padding-bottom: (1/$ratio) * 100%;
    grid-area: image;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__card-number {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.22);
    color: #fff;
    font-size: 24px;
    line-height: 27.58px;
    letter-spacing: 0.27px;
    padding: 25px 0 25px 32px;
    display: flex;
    align-items: center;
  }
}
