@import "src/sass/variables";

.root {
  $ratio: 1312 / 800;

  &__image-section {
    position: relative;
    padding-bottom: (1/$ratio) * 100%;
    grid-area: image;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__card-number {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $transparent-90-percent;
    color: $text-color-inverse;
    font-size: 18px;
    text-align: center;
    line-height: 1.2em;
    padding: 12px 0;

    @media (min-width: 800px) {
      padding: 25px 0;
    }

    &-label {
      font-weight: 800;
    }
  }
}
