@import "src/sass/variables.scss";
@import "~sassThemeFolder/_button_mixin.scss";

@mixin heading-font-style {
  margin: 0;
  font-weight: $heading-font-weight;
  font-size: $heading-font-size;
  color: $heading-font-color;

  &--first {
    margin-top: 0;
  }

  &--last {
    margin-bottom: 0;
  }
}

@mixin body-font-style {
  margin: 0;
  font-size: $body-font-size;
  color: $body-font-color;

  &--first {
    margin-top: 0;
  }

  &--last {
    margin-bottom: 0;
  }
}
