@import "src/sass/variables.scss";
@import "~sassThemeFolder/mixins/button-mixin";
@import "~sassThemeFolder/mixins/text-input-group-mixin";
@import "~sassThemeFolder/mixins/modal-mixin";

@mixin heading-font-style {
  font-weight: $heading-font-weight;
  font-size: $heading-font-size;
  color: $heading-font-color;
  line-height: $heading-line-height;
  margin: 0 0 $heading-margin-bottom;

  &--first {
    margin-top: 0;
  }

  &--last {
    margin-bottom: 0;
  }

  @media (max-width: 630px) {
    font-size: $heading-font-size-small;
    line-height: $heading-line-height-small;
  }
}

@mixin body-font-style {
  margin: 0;
  font-size: $body-font-size;
  color: $body-font-color;

  &--first {
    margin-top: 0;
  }

  &--last {
    margin-bottom: 0;
  }
}
