@import "~sassThemeFolder/variables/theme-palette";
@import "~sassThemeFolder/variables/global-palette";
@import "~sassThemeFolder/variables/palette-intents";
@import "~sassThemeFolder/variables/payment-card-palette";
@import "~sassThemeFolder/variables/text-variables";
@import "~sassThemeFolder/variables/modal-variables";
