@import "~sassThemeFolder/variables/add-payment-card-colors";
@import "~sassThemeFolder/variables/payment-card-colors";
@import "~sassThemeFolder/variables/general";
@import "~sassThemeFolder/variables/heading-variables";
@import "~sassThemeFolder/variables/body-text-variables";
@import "~sassThemeFolder/variables/note-text-variables";
@import "~sassThemeFolder/variables/text-input-variables";
@import "~sassThemeFolder/variables/modal-variables";

$page-background-color: #fff;
