@import "~sassThemeFolder/variables/global-palette";
@import "~sassThemeFolder/variables/theme-palette";
@import "~sassThemeFolder/variables/payment-card-palette";
@import "~sassThemeFolder/variables/layout-variables";
