stages:
  - build
  - dev
  - staging
  - staging-deploy

build:
  stage: build
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    # build wasabi theme
    - NODE_CONFIG_ENV=development PUBLIC_URL=/develop/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
    - rm -rf build

    # build fatface theme
    - NODE_CONFIG_ENV=development PUBLIC_URL=/develop/fatface THEME=fatface npm run build
    - tar -C build -zcvf build-fatface.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 week
  only:  # "only" defaults to not include MRs
    - develop

deploy-dev:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy --sync wasabi /develop/wasabi/

    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface.tar.gz
    - copy --sync fatface /develop/fatface/
  only:
    - develop


# Could get fancy here and just use the "build" stage but this is slightly cleaner
build-mr:
  stage: build
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    # build wasabi theme
    - NODE_CONFIG_ENV=development PUBLIC_URL=/mr-$CI_MERGE_REQUEST_IID/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
    - rm -rf build

    # build fatface theme
    - NODE_CONFIG_ENV=development PUBLIC_URL=/mr-$CI_MERGE_REQUEST_IID/fatface THEME=fatface npm run build
    - tar -C build -zcvf build-fatface.tar.gz .
    - rm -rf build

    # build wasabi theme for sandbox
    - NODE_CONFIG_ENV=sandbox PUBLIC_URL=/mr-$CI_MERGE_REQUEST_IID/sandbox/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi-sandbox.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 hour
  only:
    - merge_requests

deploy-mr:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy --sync wasabi /mr-$CI_MERGE_REQUEST_IID/wasabi/

    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface.tar.gz
    - copy --sync fatface /mr-$CI_MERGE_REQUEST_IID/fatface/

    # deploy wasabi theme for sandbox
    - mkdir sandbox
    - tar -C sandbox -xf build-wasabi-sandbox.tar.gz
    - copy --sync sandbox /mr-$CI_MERGE_REQUEST_IID/sandbox/wasabi/

    - python .ci-scripts/comment-deployment-url.py
  only:
    - merge_requests

build-staging:
  stage: staging
  allow_failure: false
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    # build wasabi theme
    - NODE_CONFIG_ENV=staging PUBLIC_URL=/staging/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
    - rm -rf build

    # build fatface theme
    - NODE_CONFIG_ENV=staging PUBLIC_URL=/staging/fatface THEME=fatface npm run build
    - tar -C build -zcvf build-fatface.tar.gz .
    - rm -rf build

    # build wasabi theme for sandbox
    - NODE_CONFIG_ENV=sandbox PUBLIC_URL=/sandbox/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi-sandbox.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 3 weeks
  when: manual
  only:
    - develop

deploy-staging:
  stage: staging-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy --staging --sync wasabi /staging/wasabi/

    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface.tar.gz
    - copy --staging --sync fatface /staging/fatface/

    # deploy wasabi theme for sandbox
    - mkdir sandbox
    - tar -C sandbox -xf build-wasabi-sandbox.tar.gz
    - copy --staging --sync sandbox /sandbox/wasabi/
  only:
    - develop
