stages:
  - build
  - dev

build:
  stage: build
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    - PUBLIC_URL=/develop/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 week
  only:  # "only" defaults to not include MRs 
    - develop

deploy-dev:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy wasabi /develop/wasabi/
  only:
    - develop


# Could get fancy here and just use the "build" stage but this is slightly cleaner
build-mr:
  stage: build
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    - PUBLIC_URL=/mr-$CI_MERGE_REQUEST_IID/wasabi THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 hour
  only:
    - merge_requests

deploy-mr:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy --sync wasabi /mr-$CI_MERGE_REQUEST_IID/wasabi/

    - python .ci-scripts/comment-deployment-url.py
  only:
    - merge_requests
