stages:
  - build
  - dev

build:
  stage: build
  image: node:14
  script:
    - npm ci
    - npm run lint-js
    - npm run lint-css
    - THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
  variables:
    VARIABLE_TEST: test_value
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 week
  only:  # "only" defaults to not include MRs 
    - merge_requests
    - branches

deploy-dev:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy wasabi /
  only:
    - develop

deploy-mr:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy --sync wasabi /mr-$CI_MERGE_REQUEST_IID/wasabi/

    - python .ci-scripts/comment-deployment-url.py
  only:
    - merge_requests

# deploy-prod:
#   stage: prod
#   image: olympus.azurecr.io/copy2blobstorage:latest
#   script:
#     - copy --prod build /
#   only:
#     - master
