stages:
  - build
  - dev

build:
  stage: build
  image: node:14
  script:
    - echo "Current user, $GITLAB_USER_LOGIN. From branch $CI_COMMIT_BRANCH"
    - npm install
    - npm run lint-js
    - npm run lint-css
    - THEME=wasabi npm run build
    - tar -C build -zcvf build-wasabi.tar.gz .
  variables:
    VARIABLE_TEST: test_value
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 week

deploy-dev:
  stage: dev
  image: olympus.azurecr.io/copy2blobstorage:latest
  script:
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi.tar.gz
    - copy wasabi /
  only:
    - develop

# deploy-prod:
#   stage: prod
#   image: olympus.azurecr.io/copy2blobstorage:latest
#   script:
#     - copy --prod build /
#   only:
#     - master
