@import "src/sass/variables";

.root {
  padding: 20px;
  box-shadow: 0 3px 22px 0 $transparent-90-percent;
  border: none;
  color: $black; // Prevents disappearing text on click in Safari
  background: $page-background-color;
  text-align: left;

  &__issued {
    cursor: pointer;
  }
}
