@import "src/sass/variables";

.root {
  padding: 20px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.1);
  border: none;
  color: rgb(0, 0, 0); // Prevents disappearing text on click in Safari
  background: #fff;
  text-align: left;

  &__issued {
    cursor: pointer;
  }
}
