@import "src/sass/mixins";

.root {
  @include body-font-style;

  &__body {
    @include body-font-style;

    padding: 15px 30px 20px 0;
    font-weight: 400;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }

  &__menuItem {
    @include body-font-style;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
  }

  a,
  a:visited {
    text-decoration: none;
    font-weight: bold;
  }

  hr {
    opacity: 0.3;
  }
}
