@import "src/sass/mixins";

.root {
  @include button-style;

  cursor: pointer;
  min-width: 200px;

  &--disabled {
    cursor: default;
  }

  &__error {
    text-align: center;
    color: #a30f27;

    @media (min-width: 630px) {
      grid-column: span 2;
    }
  }
}
