@import "src/sass/mixins";

.root {
  &__heading {
    @include heading-font-style;

    text-align: center;
  }

  &__empty-state-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__empty-state-icon {
    width: 100px;
    height: 100px;
  }

  &__empty-state-text {
    font-size: 30px;
    margin-top: 50px;
  }

  &__cards-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    max-width: calc(100% - 16px);
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: solid 1px $black;
    width: 470px;
    padding: 7px;
    margin-bottom: 30px;
  }

  &__delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    background-color: $delete-red;
    color: $white;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    font-size: 18px;
  }

  &__content-container {
    padding: 50px 15px 5px;
  }

  &__plan-info {
    display: flex;
  }

  &__image-container {
    border: solid 1px $black;
    width: 100px;
    height: 100px;
  }

  &__image {
    border: solid 1px $black;
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
  }

  &__info-container {
    margin-left: 40px;
    font-size: large;
  }

  &__info {
    margin-bottom: 5px;
  }

  &__colour-container {
    display: flex;
    height: 22px;
    width: 100%;
  }

  &__colour-block {
    flex: 1;
  }
}
