$theme-font-family: "Nunito Sans", sans-serif;

// heading font
$heading-font-size: 30px;
$heading-font-weight: bold;
$heading-font-color: #000;
$heading-line-height: 88px;

// heading font changes for smaller viewports
$heading-font-size-small: 56px;
$heading-line-height-small: 60px;

// body font
$body-font-size: 14px;
$body-font-color: #000;
