$theme-font-family: "Nunito Sans", sans-serif;

// heading font
$heading-font-size: 30px;
$heading-font-weight: bold;
$heading-font-color: #000;
$heading-line-height: 1.1em;
$heading-margin-bottom: 0.2em;

// heading font changes for smaller viewports
$heading-font-size-small: $heading-font-size;
$heading-line-height-small: 1.1em;

// body font
$body-font-size: 14px;
$body-font-color: #000;
