@import "src/sass/variables.scss";

.payment-card {
  box-sizing: border-box;
  position: relative;
  height: 120px;
  border-radius: 8px;

  &__name {
    position: absolute;
    top: 44%;
    left:  11px;
    right: 11px;

    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__number {
    position: absolute;
    bottom: 10px;
    right: 11px;

    font-weight: 700;
    font-size: 18px;

    vertical-align: middle;
  }

  &__number-redacted {
    font-size: 10px;
    font-weight: 600;
    vertical-align: middle;
  }

  background: $generic-gradient-fallback;
  background: linear-gradient(to right, $generic-gradient-left, $generic-gradient-right);
  color: white;

  &--provider {
    &-visa {
      background: $visa-background-fallback;
      background:
          url("/images/logo-visa.svg") top 11px right 10px / 78px 25px no-repeat,
          linear-gradient(to right, $visa-gradient-left, $visa-gradient-right)
      ;
      color: white;
    }
    &-mastercard {
      background: $mastercard-background-fallback;
      background:
          url("/images/logo-mastercard.svg") top 8px right 10px / 57px 42px no-repeat,
          linear-gradient(to right, $mastercard-gradient-left, $mastercard-gradient-right)
      ;
      color: white;
    }

    &-american-express {
      background: $amex-background-fallback;
      background:
          url("/images/logo-amex.svg") top 8px right 10px / 43px 42px no-repeat,
          linear-gradient(to right, $amex-gradient-left, $amex-gradient-right)
    ;
      color: white;
    }
  }
}
