// Theme palette
$primary-color: #274a52;
$primary-color-highlight: #528d8d;
$primary-color-alternative1: #385c68;
$primary-color-alternative2: #147efb;
$primary-color-gradient: linear-gradient(to right, $primary-color-highlight, $primary-color);
$secondary-color: transparent;
$tertiary-color: #c52b2b;
$white-50-percent-transparency: rgba($white, 0.5);

$error-color: #f00;
$valid-color: #1ea9ac;

// Theme General Intents
$background-color: $white;
$background-color-light-transparency: $white-20-percent-transparency;
$page-background-color: $background-page-color;
$page-background-color-light-transparency: $background-color-light-transparency;

// Theme Layout Intents
$text-color: $black;
$text-color-hover: $transparent-50-percent;
$text-color-inverse-hover: $white-50-percent-transparency;
$text-color-inverse: $white;
$body-font-color: $text-color;
$heading-font-color: $text-color;
$note-font-color: $text-color;
$link-color: $primary-color-alternative1;
$modal-title-font-color: $text-color;
$modal-body-font-color: $text-color;
$text-color: $primary-color-alternative1;

// Theme Form Intents - commented out mostly as form styles not defined fully for Bink Profile
// $text-input-title-color--default: $primary-color;
// $text-input-title-color--error: $primary-color;
// $text-input-title-color--disabled: $primary-color;

// $text-input-border-color--disabled: $primary-color;

$text-input-border-color--default: none; //placeholder
$text-input-border-color--focused: $primary-color-alternative2; //placeholder

// $text-input-background-color--default: $background-color;
// $text-input-background-color--error: $background-color;

// $text-input-text-color--default: $primary-color;
// $text-input-text-color--error:  $primary-color;
// $text-input-text-color--disabled:  $primary-color;

// $text-input-placeholder-color--default: $primary-color;
// $text-input-placeholder-color--focused: $primary-color;
// $text-input-placeholder-color--error: $primary-color;

// $text-input-error-color: $error-red;
