@import "src/sass/mixins";

.root {
  text-align: center;
  margin-top: 54px;

  &__heading {
    @include heading-font-style;
  }

  &__description {
    @include body-font-style;

    max-width: 400px;
    margin: 23px auto;

    &-paragraph {
      margin: 0;
    }
  }

  &__support {
    @include body-font-style;

    margin: 20px auto;

    &--link {
      @include body-font-style;
    }
  }
}
