@import "src/sass/mixins";
@import "src/sass/variables";

.root {
  &__paragraph {
    @include body-font-style;

    margin: 5px 0 18px;
    color: $black;
  }

  &__last-updated-text {
    font-size: 13px;
    color: $black;
  }
}
