@import "src/sass/mixins";

.root {
  &__heading {
    @include heading-font-style;

    text-align: center;
  }

  &__additional-membership-add {
    @include base-hover-style;

    margin: 0 auto;
    width: 400px;
    height: 220px;
    cursor: pointer;

    &:hover {
      @include hover-style;
    }
  }

  &__empty-state-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__empty-state-icon {
    width: 76px;
    height: 76px;
  }

  &__empty-state-text-container {
    margin-top: 50px;
    max-width: 100%;
    width: 440px;
    text-align: center;
  }

  &__empty-state-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 38px;
  }

  &__empty-state-paragraph {
    padding-top: 20px;
    font-size: 18px;
  }

  &__app-info-container {
    margin-top: 45px;
    background-color: $white;
    border-radius: 11px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 12%);
    height: 380px;
    width: 429px;
    padding: 18px;
  }

  &__app-icon {
    height: 66px;
    width: 66px;
    background-image: url("/images/empty-wallet-app-icon.png");
    background-size: cover;
  }

  &__app-info-header {
    display: flex;
    flex-direction: row;
  }

  &__app-info-text-container {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
  }

  &__app-info-text-header {
    font-weight: bold;
  }

  &__app-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 16px;
  }

  &__app-image {
    height: 192px;
    width: 127px;
    background-size: cover;

    &--image-1 {
      background-image: url("/images/empty-wallet-screen.png");
    }

    &--image-2 {
      background-image: url("/images/empty-wallet-screen-2.png");
    }

    &--image-3 {
      background-image: url("/images/empty-wallet-screen-3.png");
    }
  }

  &__app-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__app-link {
    height: 38px;
    background-size: cover;
    margin: 8px;

    &--ios-store {
      width: 118px;
      background-image: url("/images/app-store-badge.png");
    }

    &--android-store {
      width: 130px;
      background-image: url("/images/google-play-badge.png");
    }
  }

  &__cards-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 40px;
    max-width: 840px;

    @media (min-width: 910px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
