@import "src/sass/variables";

.root {
  cursor: pointer;
  height: 120px;
  background: transparent;
  border: 4px dashed $add-payment-card-color-limited;
  fill: $add-payment-card-color-limited;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
