@import "src/sass/mixins";

.root {
  @include text-input-group;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
  }

  &__select-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__overlay-container {
    position: absolute;
    pointer-events: none;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  &__down-arrow {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    color: $grey-45-percent;
  }
}
