stages:
  - build
  - dev
  - staging
  - staging-deploy
  - prod
  - prod-deploy

build: &build
  stage: build
  image: node:14
  before_script:
    - export NODE_CONFIG_ENV=development
    - export URL_PREFIX=/develop
    - cd packages/Web
  script:
    - 'echo "{\"tag\": \"$CI_COMMIT_TAG\", \"sha\": \"$CI_COMMIT_SHA\"}" > version.json'
    - yarn install --frozen-lockfile
    - yarn run lint-js
    - yarn run lint-css
    # build bink theme
    - PUBLIC_URL=$URL_PREFIX/bink THEME=bink npm run build
    - cp version.json build/
    - tar -C build -zcvf ../../build-bink-$NODE_CONFIG_ENV.tar.gz .
    - rm -rf build

    # build wasabi theme
    - PUBLIC_URL=$URL_PREFIX/wasabi THEME=wasabi npm run build
    - cp version.json build/
    - tar -C build -zcvf ../../build-wasabi-$NODE_CONFIG_ENV.tar.gz .
    - rm -rf build

    # build fatface theme
    - PUBLIC_URL=$URL_PREFIX/fatface THEME=fatface npm run build
    - cp version.json build/
    - tar -C build -zcvf ../../build-fatface-$NODE_CONFIG_ENV.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 week
  only:  # "only" defaults to not include MRs
    - develop

deploy-dev:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy bink theme
    - mkdir bink
    - tar -C bink -xf build-bink-development.tar.gz
    - copy --sync bink /develop/bink/

    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi-development.tar.gz
    - copy --sync wasabi /develop/wasabi/

    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface-development.tar.gz
    - copy --sync fatface /develop/fatface/
  only:
    - develop

# Could get fancy here and just use the "build" stage but this is slightly cleaner
build-mr:
  <<: *build
  before_script:
    - export NODE_CONFIG_ENV=development
    - export URL_PREFIX=/mr-$CI_MERGE_REQUEST_IID
    - cd packages/Web
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 1 hour
  only:
    - merge_requests

deploy-mr:
  stage: dev
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy bink theme
    - mkdir bink
    - tar -C bink -xf build-bink-development.tar.gz
    - copy --sync bink /mr-$CI_MERGE_REQUEST_IID/bink/
    # Run Lighthouse over deployment
    - mkdir lh
    - lighthouse https://web.dev.gb.bink.com/mr-$CI_MERGE_REQUEST_IID/bink/
      --chrome-flags="--headless --no-sandbox --disable-gpu"
      --output=html
      --output-path=lh/index.html
      --no-enable-error-reporting
    # Copy Lighthouse report from lh/ to blobstorage
    - copy lh /mr-$CI_MERGE_REQUEST_IID/bink/lh/
    - rm -rf lh

    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi-development.tar.gz
    - copy --sync wasabi /mr-$CI_MERGE_REQUEST_IID/wasabi/
    # Run Lighthouse over deployment
    - mkdir lh
    - lighthouse https://web.dev.gb.bink.com/mr-$CI_MERGE_REQUEST_IID/wasabi/
      --chrome-flags="--headless --no-sandbox --disable-gpu"
      --output=html
      --output-path=lh/index.html
      --no-enable-error-reporting
    # Copy Lighthouse report from lh/ to blobstorage
    - copy lh /mr-$CI_MERGE_REQUEST_IID/wasabi/lh/
    - rm -rf lh

    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface-development.tar.gz
    - copy --sync fatface /mr-$CI_MERGE_REQUEST_IID/fatface/

    - python .ci-scripts/comment-deployment-url.py
  only:
    - merge_requests

build-staging:
  <<: *build
  stage: staging
  allow_failure: false
  before_script:
    - export NODE_CONFIG_ENV=staging
    - export URL_PREFIX=/staging
    - cd packages/Web
  after_script:
    # build wasabi theme for sandbox
    - NODE_CONFIG_ENV=sandbox PUBLIC_URL=/wasabi THEME=wasabi npm run build
    - cp version.json build/
    - tar -C build -zcvf ../../build-wasabi-sandbox.tar.gz .
    - rm -rf build
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 3 weeks
  only:
    - tags

deploy-staging-bink:
  stage: staging-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy bink theme
    - mkdir bink
    - tar -C bink -xf build-bink-staging.tar.gz
    - copy --staging --sync bink /staging/bink/
  when: manual
  only:
    - tags

deploy-staging-wasabi:
  stage: staging-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi-staging.tar.gz
    - copy --staging --sync wasabi /staging/wasabi/
  when: manual
  only:
    - tags

deploy-sandbox-wasabi:
  stage: staging-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme for sandbox
    - mkdir sandbox
    - tar -C sandbox -xf build-wasabi-sandbox.tar.gz
    - copy --sandbox --sync sandbox /wasabi/
  when: manual
  only:
    - tags

deploy-staging-fatface:
  stage: staging-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface-staging.tar.gz
    - copy --staging --sync fatface /staging/fatface/
  when: manual
  only:
    - tags

build-prod:
  <<: *build
  stage: prod
  allow_failure: false
  before_script:
    - export NODE_CONFIG_ENV=production
    - export URL_PREFIX=
    - cd packages/Web
  artifacts:
    paths:
      - build*.tar.gz
    expire_in: 3 weeks
  when: manual
  only:
    - tags

deploy-prod-bink:
  stage: prod-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy bink theme
    - mkdir bink
    - tar -C bink -xf build-bink-production.tar.gz
    - rm -rf bink/themes
    - rm `ls bink/*.* | grep -v "^bink\/version\.json$"`
    - copy --prod --sync bink /bink/
  when: manual
  only:
    - tags

deploy-prod-wasabi:
  stage: prod-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy wasabi theme
    - mkdir wasabi
    - tar -C wasabi -xf build-wasabi-production.tar.gz
    - rm -rf wasabi/themes
    - rm `ls wasabi/*.* | grep -v "^wasabi\/version\.json$"`
    - copy --prod --sync wasabi /wasabi/
  when: manual
  only:
    - tags

deploy-prod-fatface:
  stage: prod-deploy
  image: binkcore.azurecr.io/copy2blobstorage:latest
  script:
    # deploy fatface theme
    - mkdir fatface
    - tar -C fatface -xf build-fatface-production.tar.gz
    - rm -rf fatface/themes
    - rm `ls fatface/*.* | grep -v "^fatface\/version\.json$"`
    - copy --prod --sync fatface /fatface/
  when: manual
  only:
    - tags
