// Theme palette
$primary-color: #009;
$primary-color-alternative: #000;

$secondary-color: transparent;
$tertiary-color: #a30f27;

// Theme General Intents
$background-color: $white;
$background-color-light-transparency: $white-20-percent-transparency;
$page-background-color: $background-color;
$page-background-color-light-transparency: $background-color-light-transparency;

// Theme Layout Intents
$text-color: $primary-color-alternative;
$inverse-text-color: $background-color;
$body-font-color: $text-color;
$heading-font-color: $text-color;
$note-font-color: $text-color;
$link-color: $primary-color;
$modal-title-font-color: $text-color;
$modal-body-font-color: $text-color;
$error-color: $error-red;

// Theme Form Intents - placeholder as form styles not defined

// $text-input-title-color--default: $primary-color;
// $text-input-title-color--error: $primary-color;
// $text-input-title-color--disabled: $primary-color;

// $text-input-border-color--default: $primary-color;
// $text-input-border-color--focused: $primary-color;
// $text-input-border-color--error: $error-red;
// $text-input-border-color--disabled: $primary-color;

// $text-input-background-color--default: $background-color;
// $text-input-background-color--error: $background-color;

// $text-input-text-color--default: $primary-color;
// $text-input-text-color--error:  $primary-color;
// $text-input-text-color--disabled:  $primary-color;

// $text-input-placeholder-color--default: $primary-color;
// $text-input-placeholder-color--focused: $primary-color;
// $text-input-placeholder-color--error: $primary-color;

// $text-input-error-color: $error-red;
