@import "src/sass/variables.scss";

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../../../src/fonts/NunitoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.bink-app {
  margin: 10px;
  padding: 0;
}

.bink-app__body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $page-background-color;
}

// todo: dev only. temporary might want to remove
.dev-only {
  border: 1px dashed #006bcd;
  background-color: #c3e9ff;
}
