.root {
  width: 478px;
  padding-bottom: 10px;
  min-width: 260px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-container {
    border-radius: 10px;
    width: 278px;
    height: 167px;
    margin-top: 14px;
    margin-bottom: 25px;
  }

  &__image {
    border-radius: 10px;
    height: inherit;
    width: inherit;
  }

  &__text {
    margin-top: 33px;
    text-align: center;
    font-size: 22px;
  }

  &__barcode-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &__dev-only {
    padding: 10px;
  }

  &__cycle-button {
    margin: 10px;
  }
}
