@import "src/sass/mixins";

.root {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
  }

  &__left-arrow {
    height: 24px;
    width: 27px;
    cursor: pointer;
  }

  &__heading {
    @include heading-font-style;

    text-align: center;
  }

  &__description {
    margin: 50px auto;
    text-align: center;
  }

  &__brands-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 20px;
    max-width: 100%;
    width: 710px;
    justify-content: center;
  }
}
