@import "src/sass/mixins";

.root {
  @include section-style;

  &__payment-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 730px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 980px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
