@import "src/sass/mixins";

.root {
  margin-bottom: 23px; // does not use section-style mixin due to existing margin on vouchers.

  &__headline {
    @include headline-style;
  }

  &__paragraph {
    @include paragraph-spacing-styling;

    margin-bottom: 18px;
  }

  &__active-vouchers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: auto;
    gap: 12px;

    @media (min-width: 630px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
