@import "src/sass/mixins";

.root {
  @include section-style;

  margin-bottom: 25px; // overrides section-style mixin due to existing margin on vouchers.

  &__active-vouchers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: auto;
    gap: 12px;

    @media (min-width: 630px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
