$primary-color: #57595b;
$text-color: #57595b;
$link-color: #57595b;
$theme-font-family: inherit;
$font-scotch: "ScotchText", "Times New Roman", "Times", "FreeSerif", "Nimbus Roman No9 L", serif;
$font-giorgio: "GiorgioSans", "Maven", "Trebuchet MS", "Arial", "FreeSans", sans-serif;
$font-maven: "Maven", "Trebuchet MS", "Arial", "FreeSans", sans-serif;

$default-font-weight: 400;

// todo: consider that colours could be defined higher up as more abstract concepts as primary, secondary, etc colour
// it might become clearer what can be done once we have more values to work with
