$text-color: #054127; // todo: search and replace for wasabi value 054127
$link-color: #054127;
$theme-font-family: inherit;
$font-scotch: "ScotchText", "Times New Roman", "Times", "FreeSerif", "Nimbus Roman No9 L", serif;
$font-giorgio: "GiorgioSans", "Maven", "Trebuchet MS", "Arial", "FreeSans", sans-serif;

$default-font-weight: 300;

// todo: colours could be defined higher up as more abstract concepts as primary, secondary, etc colour
// it might become clearer what can be done once we have more values to work with
