// input text field colors

$text-input-title-color--default: #57595b;
//$text-input-title-color--focused: #57595b;
$text-input-title-color--error: #57595b;
$text-input-title-color--disabled: #57595b;

$text-input-border-color--default: #949494;
$text-input-border-color--focused: #57595b;
$text-input-border-color--error: #e6230a;
$text-input-border-color--disabled: #57595b;

$text-input-background-color--default: #fff;
//$text-input-background-color--focused: #fff;
$text-input-background-color--error: #fff;
//$text-input-background-color--disabled: #fff;

$text-input-text-color--default: #57595b;
//$text-input-text-color--focused: #57595b;
$text-input-text-color--error: #57595b;
$text-input-text-color--disabled: #57595b;

$text-input-placeholder-color--default: #6b6b6b;
$text-input-placeholder-color--focused: #c9c9c9;
$text-input-placeholder-color--error: #6b6b6b;
//$text-input-placeholder-color--disabled: #6b6b6b;

$text-input-error-color: #e6230a;
