.root {
  text-align: right;
  font-family: "Nunito Sans Light", sans-serif;
  padding-bottom: 10px;
  font-size: 18px;

  &__menu {
    position: relative;
    cursor: pointer;
    top: 4px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    padding: 0;
  }
}
