.root {
  text-align: right;
  color: #666;
  padding-bottom: 10px;

  &__menu {
    position: relative;
    cursor: pointer;
    top: 4px;
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    padding: 0;
  }
}
