.root {
  display: flex;
  justify-content: flex-end;

  &__menu {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
  }

  &__menu-icon {
    margin-left: 8px;
    opacity: 0.9;
  }
}
