.root {
  &__header {
    font-size: 32px;
    margin: 0 0 15px;
  }

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  &__box {
    background-color: white;
    z-index: 10000;
    position: fixed;
    width: 600px;
    max-width: 98%;
    border-radius: 14px;
    padding: 30px 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__body {
    padding: 0 30px;
    max-height: 80vh;
    overflow: auto;
  }

  &__close-button {
    position: absolute;
    font-size: 32px;
    line-height: 1em;
    right: 25px - 2px;
    top: 25px - 9px;
    cursor: pointer;
  }
}

:global(html.modal--no-scroll),
:global(html.modal--no-scroll body) {
  overflow: hidden;
}
