@import "src/sass/mixins";

.root {
  @include modal;

  &__close-button {
    &--disabled {
      cursor: default;
      fill: #d8d8d8;
    }
  }
}

:global(html.modal--no-scroll),
:global(html.modal--no-scroll body) {
  overflow: hidden;
}
