/* This files should contain styling that is expected to be found on a merchant website and that would affect the Bink
 * app. The styling that goes here will not be embedded back into the merchant site. This will be used only in our own
 * index.html deployed to our own environments
 */

@font-face {
  font-family: Wasabi;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Wasabi-Regular.7ad1eaf.eot);
  src: url(fonts/Wasabi-Regular.7ad1eaf.eot?#iefix) format("embedded-opentype"), url(fonts/Wasabi-Regular.e54f9c2.woff2) format("woff2"), url(fonts/Wasabi-Regular.005bc3b.woff) format("woff"), url(fonts/Wasabi-Regular.627f07c.ttf) format("truetype");
}

@font-face {
  font-family: Wasabi;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Wasabi-Bold.fd2257f.eot);
  src: url(fonts/Wasabi-Bold.fd2257f.eot?#iefix) format("embedded-opentype"), url(fonts/Wasabi-Bold.59acde1.woff2) format("woff2"), url(fonts/Wasabi-Bold.d75551a.woff) format("woff"), url(fonts/Wasabi-Bold.1f8d9e2.ttf) format("truetype");
}

@font-face {
  font-family: Wasabi;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Wasabi-Light.ce6af32.eot);
  src: url(fonts/Wasabi-Light.ce6af32.eot?#iefix) format("embedded-opentype"), url(fonts/Wasabi-Light.5d9e74a.woff2) format("woff2"), url(fonts/Wasabi-Light.6f42425.woff) format("woff"), url(fonts/Wasabi-Light.f049e9d.ttf) format("truetype");
}

/* note that this overrides the @font-face Wasabi, normal, 400 from above. This is how it is on wasabi.uk.com
   and was left the same way to highlight that font-weight:400 is used mainly in buttons and inputs */
@font-face {
  font-family: Wasabi;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/WasabiCondensed-Light.c12063d.eot);
  src: url(fonts/WasabiCondensed-Light.c12063d.eot?#iefix) format("embedded-opentype"), url(fonts/WasabiCondensed-Light.b64df61.woff2) format("woff2"), url(fonts/WasabiCondensed-Light.33e7593.woff) format("woff"), url(fonts/WasabiCondensed-Light.88f085b.ttf) format("truetype");
}

*,
button,
input,
optgroup,
select,
textarea {
  font-family: Wasabi, sans-serif;
}

/* set-up styling that has to be countered from wasabi.uk.com */

body {
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 0;
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

/* end of styling that has to be countered */
