@import "src/sass/mixins";

.root {
  @include join-enrol-modal-styling;

  margin-top: 54px;

  &__form {
    @include body-font-style;

    display: flex;
    text-align: center;
    max-width: 500px;
    margin: 25px auto;
  }

  &__userId {
    font-weight: bold;
  }

  &__logout {
    @include note-font-style;

    display: block;
    margin: 0 auto;
    padding: 0;
    min-height: 0;
  }
}
