@import "src/sass/mixins";

.root {
  text-align: left;
  margin-top: 54px;

  &__header {
    @include heading-font-style;

    text-align: center;
  }

  &__summary {
    @include body-font-style;

    text-align: center;
    max-width: 500px;
    margin: 25px auto;
  }

  &__form {
    @include body-font-style;

    display: flex;
    text-align: center;
    max-width: 500px;
    margin: 25px auto;
  }

  &__userId {
    font-weight: bold;
  }

  &__contact-support {
    display: block;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__logout {
    @include note-font-style;

    display: block;
    margin: 0 auto;
    padding: 0;
    min-height: 0;
  }
}
