@import "src/sass/variables";
@import "src/sass/mixins";

.root {
  @include voucher-style;

  &__progress-step {
    border: 7px solid $black;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    &--filled {
      &-inprogress {
        border-color: $in-progress;
      }

      &-issued {
        border-color: $positive;
      }

      &-redeemed {
        border-color: $primary-color;
      }

      &-expired,
      &-cancelled {
        border-color: $blue-grey;
      }
    }

    &--empty {
      border-color: $transparent-85-percent;

      &-expired,
      &-cancelled {
        border-color: $blue-grey;
      }
    }
  }
}
