@import "src/sass/variables";

@mixin base-styling {
  .bink-app,
  .bink-app * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .bink-app {
    max-width: 970px;
    margin: 0 auto;
    padding: 10px 15px 64px;
  }
  // this class should be expected to be defined only in our index.html file and not on the merchant's host site
  // whatever these styles are on wasabi.uk.com, that is how this will behave for consistency purposes
  .bink-app__body {
    background-color: $background-page-color;
    font-family: $theme-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
