@import "src/sass/variables";

@mixin checkbox-group {
  display: grid;
  grid-template-columns: 26px auto;
  font-size: 14px;
  color: $text-color;

  &__box {
    position: relative;
    width: 13px;
    height: 13px;
    left: 3px;

    @include base-hover-style;

    &:hover {
      @include hover-style-small-element;
    }
  }

  /* custom checkbox styling not yet defined for Bink Theme */
}
