@mixin onboarding-screens-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  min-height: calc(100vh - 70px);

  &--request-form {
    justify-content: space-between;
  }

  &__description {
    @include body-font-style;

    max-width: 650px;
    padding-top: 10px;
  }

  &__form {
    margin: 0 auto;
    width: 650px;
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-ui {
    max-width: 100%;
    width: 480px;
    margin-top: 20px;
  }

  // Bink-specific classes
  &__hero {
    background: url("/images/logo-bink-hero.png");
    background-size: cover;
    width: 220px;
    height: 220px;
    margin: 30px;
  }

  &__secondary-description {
    @include body-font-style;

    max-width: 100%;
    width: 480px;
    margin: 20px 0 10px;
    display: flex;
    flex-direction: column;

    div:first-of-type {
      padding-bottom: 40px;
    }
  }

  &__bink-footer {
    @include note-font-style;

    margin: 0 auto;
    max-width: 100%;
    width: 860px;
    padding: 10px 0;
    text-align: center;
  }
}
