@mixin text-input-group {
  &__input-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;

    &--border {
      background-color: $white;
      border-radius: 12px;
    }
  }

  &__label {
    display: block;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 14px;
    letter-spacing: 0.16px;
    padding-left: 10px;
    height: 19px;

    &--disabled {
      color: $gray;
    }
  }

  &__placeholder {
    color: $gray;
  }

  &__error {
    font-size: 14px;
    color: $error-color;
    margin-top: 2px;
    min-height: 1.4em;
    letter-spacing: 0.16px;
    padding-left: 10px;
  }

  &__input {
    background-color: transparent;
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-color: $white;
    border-style: solid;
    border-width: 0 0 3px 0;
    transition: border-bottom-color 0.3s;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 18px;
    letter-spacing: 0.2px;
    outline: none;

    &--focus {
      border-bottom-color: $text-input-border-color--focused;
      caret-color: $text-input-border-color--focused;
    }

    &--error {
      border-bottom-color: $error-color;
      caret-color: $error-color;
    }

    &--disabled {
      background-color: $white;
    }

    &--valid {
      border-bottom-color: $valid-color;
    }

    &::placeholder {
      color: $gray;
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:focus {
      border-bottom-color: $text-input-border-color--focused;
      caret-color: $text-input-border-color--focused;
    }
  }

  &__validation-tick {
    color: $valid-color;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 10px;
  }
}
