@import "src/sass/mixins";

.root {
  &__paragraph {
    @include body-font-style;
    @include paragraph-spacing-styling;
  }

  &__groups {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    grid-template-rows: auto;
    grid-template-areas:
      "card-number card-expiry"
      "name-on-card name-on-card";
  }

  &__number-group {
    grid-area: card-number;
  }

  &__expiry-group {
    grid-area: card-expiry;
  }

  &__name-group {
    grid-area: name-on-card;
  }

  &__privacy-and-terms {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  &__generic-error {
    text-align: center;
    color: #a30f27;
    margin: 30px;
  }

  &__button-container {
    display: flex;
  }

  &__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__url {
    @include link;
  }
}
