@import "src/sass/mixins";

.root {
  @include onboarding-screens-styling;

  &__heading {
    @include heading-font-style;
  }

  &__description {
    max-width: 400px;
    margin: 23px auto;

    &-paragraph {
      margin: 0;
    }
  }

  &__support {
    @include body-font-style;

    margin: 20px auto;

    &--link {
      @include body-font-style;
      @include link;
    }
  }
}
