@mixin headline {
  font-size: 25px;
  font-weight: 800;
  margin: 0;
}

@mixin body-text-large {
  font-size: 18px;
  font-weight: 300;
}

.root {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 12px 20px 20px;
  max-width: 420px;
  margin: 0 auto;

  @media (max-width: 439px) {
    border: 0;
    padding: 0;
  }

  &__text--desktop-only {
    @media (max-width: 439px) {
      display: none;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto 20px;
  }

  &__headline {
    @include headline;

    text-align: center;
    margin-bottom: 7px;
  }

  &__description {
    @include body-text-large;

    text-align: center;
    margin-bottom: 35px;
  }

  &__paragraph {
    margin: 0 0 1.2em;
  }

  &__email {
    display: block;
    font-weight: bold;
  }

  &__note {
    font-weight: bold;
  }

  &__email-field {
    margin-bottom: 5px;
  }

  &__button {
    display: block;
    margin: 0 auto;
  }
}
