@import "src/sass/mixins";

.root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__form {
    max-width: 100%;
    width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {
    @include heading-font-style;
  }

  &__description {
    @include body-font-style;
  }

  &__email {
    font-weight: bold;
  }

  &__note {
    font-weight: bold;
  }

  &__email-field {
    max-width: 100%;
    width: 480px;
  }

  &__button {
    display: block;
    max-width: 100%;
    width: 480px;
    margin: 0 auto;
  }

  // todo: remove if icons no longer needed
  // &__icon {
  //   display: block;
  //   margin: 0 auto 20px;
  // }
}
