@import "src/sass/variables";

@mixin base-styling {
  .bink-app,
  .bink-app * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .bink-app {
    max-width: 970px;
    margin: 0 auto;
    padding: 10px 15px 64px;
  }
}
