@import "src/sass/variables";

@mixin base-hover-style {
  transition: $hover-transition;
}

@mixin hover-style {
  transition: $hover-transition;
  transform: $hover-scaling-medium;
}

@mixin hover-style-large-element {
  transition: $hover-transition;
  transform: $hover-scaling-small;
}

@mixin hover-style-small-element {
  transition: $hover-transition;
  transform: $hover-scaling-large;
}

@mixin no-hover-style {
  transition: $hover-transition;
  transform: $no-hover-scaling;
}
