@mixin join-enrol-modal-styling {
  &__header {
    @include heading-font-style;

    text-align: center;
  }

  &__summary {
    @include body-font-style;

    text-align: center;
    max-width: 500px;
    margin: 25px auto;
  }

  &__contact-support,
  &__cancel {
    display: block;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
  }
}
