@mixin section-style {
  margin-bottom: 23px;
  // background: rebeccapurple;

  &__headline {
    @include headline-style;

    margin: 0 0 0.1em;
  }

  &__paragraph {
    margin-bottom: 1.1em;
  }
}
