
@mixin button-style {
  // todo: change colour values to be accessed via variables.scss
  font-family: $theme-font-family;
  height: 68px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1;
  padding: 24.5px;
  font-weight: bold;
  border: none;

  &--primary {
    background-color: #143d30;
    color: #fff;
  }

  &--secondary {
    color: #000; // todo: not defined yet by specs
    background-color: transparent; // todo: not defined yet by specs
  }

  &--tertiary {
    background-color: #a30f27; // todo: not defined yet by specs
    color: #fff; // todo: not defined yet by specs
  }

  &--disabled {
    background-color: #d8d8d8;
    color: #fff;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
