// TODO: Consolidate these shared styles with all onboarding user screens
@import "src/sass/mixins";

.root {
  @include onboarding-screens-styling;

  &__url {
    @include link;
  }

  &__buttons {
    margin: 43px auto;
    max-width: 497px;
  }

  &__button {
    width: 100%;
  }
}
