@import "src/sass/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__heading {
    @include heading-font-style;
  }

  &__body {
    @include body-font-style;

    padding-top: 23px;
  }

  &__button--wide {
    margin-top: 23px;
    width: 480px;
  }

  &__logout {
    @include body-font-style;

    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-top: 23px;
  }
}
