@import "src/sass/variables";
@import "src/sass/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__heading {
    @include heading-font-style;
  }

  &__body {
    @include body-font-style;
    @include paragraph-spacing-styling;
  }

  &__button {
    margin-top: 23px;
    width: 480px;
    max-width: 100%;
  }

  &__logout {
    @include body-font-style;

    // todo: Check with Jack to suggest that this should be a secondary Button as per wasabi.uk.com
    font-weight: 300;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin-top: 23px;
  }
}
