@import "src/sass/mixins";

.root {
  display: flex;
  min-height: calc(100vh - 64px);
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  &__content-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    max-width: 100%;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-ui {
    max-width: 100%;
    width: 480px;
    margin-top: 20px;
  }

  &__hero {
    background: url("/images/logo-bink-hero.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 30px;
  }

  &__headline {
    @include heading-font-style;
  }

  &__description {
    @include body-font-style;

    max-width: 100%;
    width: 650px;
    margin: 10px;
  }

  &__secondary-description {
    @include body-font-style;

    max-width: 100%;
    width: 480px;
    margin: 20px 0 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }

  &__paragraph {
    @include paragraph-spacing-styling;
  }

  &__note {
    @include note-font-style;

    &--bold {
      font-weight: bold;
    }
  }

  &__link {
    @include link;

    &--bold {
      font-weight: bold;
    }
  }

  &__email {
    font-weight: bold;
  }

  &__email-field {
    width: 100%;
    min-height: 82px; // reserves whitespace for blank error message
    text-align: left;
  }

  &__footerNote {
    margin-top: 10px;
  }

  &__bink-footer {
    @include note-font-style;

    max-width: 100%;
    width: 860px;
  }
}
