@import "src/sass/mixins";

.root {
  @include onboarding-screens-styling; // Contains classes that differ between themes, including root values

  &__heading {
    @include heading-font-style;
  }

  &__headline {
    @include heading-font-style;
  }

  &__paragraph {
    @include paragraph-spacing-styling;
  }

  &__content-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__note {
    @include note-font-style;

    &--bold {
      font-weight: bold;
    }
  }

  &__link {
    @include link;

    &--bold {
      font-weight: bold;
    }
  }

  &__email {
    font-weight: bold;
  }

  &__email-field {
    width: 100%;
    min-height: 82px; // reserves whitespace for blank error message
    text-align: left;
  }
}
