$text-color: #054127;
$link-color: #054127;
$theme-font-family: inherit;

$default-font-weight: 300;

// todo: colours could be defined higher up as more abstract concepts as primary, secondary, etc colour
// it might become clearer what can be done once we have more values to work with
