$text-color: #054127;
$link-color: #054127;
$theme-font-family: inherit;
// $theme-font-family: "Wasabi", sans-serif;
// $theme-font-family-2: "Wasabi Condensed", sans-serif;

// todo: colours could be defined higher up as more abstract concepts as primary, secondary, etc colour
// it might become clearer what can be done once we have more values to work with
