// heading font
$heading-font-size: 80px;
$heading-font-weight: bold;
$heading-font-color: #054127;
$heading-line-height: 1.1em;
$heading-margin-bottom: 0.2em;

// heading font changes for smaller viewports
$heading-font-size-small: 56px;
$heading-line-height-small: 1.08em;
