@import "src/sass/themes/_default/variables/global-layout-variables";

$theme-font-family: inherit;
$default-font-weight: 300;

// body font
$body-font-size: 18px;

// heading font
$heading-font-size: 56px;
$heading-font-weight: bold;
$heading-line-height: 1.1em;
$heading-margin-bottom: 0.2em;

// heading font changes for smaller viewports
$heading-font-size-small: 36px;
$heading-line-height-small: 1.08em;

// note font
$note-font-size: 14px;

// modal styling
$modal-border-radius: 20px;
$modal-title-font-size: 25px;
$modal-title-font-weight: bold;

// todo: consider removing as this is just regular body font style after implementing font family like wasabi.uk.com
$modal-body-font-size: 18px;
$modal-body-font-weight: 300;
