// modal styling
$modal-border-radius: 7px;
$modal-title-font-size: 25;
$modal-title-font-color: #054127;
$modal-title-font-weight: bold;
$modal-title-font-size: 25px;
// todo: note that this is just regular body font style after implementing font family like wasabi.uk.com
$modal-body-font-size: 18px;
$modal-body-font-color:#054127;
$modal-body-font-weight: 300;
