// input text field colors

$text-input-title-color--default: $primary-color;
//$text-input-title-color--focused: $primary-color;
$text-input-title-color--error: $tertiary-color;
$text-input-title-color--disabled: $primary-color-background1;

$text-input-border-color--default: $primary-color-background1;
$text-input-border-color--focused: $primary-color;
$text-input-border-color--error: $tertiary-color-highlight2;
//$text-input-border-color--disabled: $primary-color-background1;

$text-input-background-color--default: $primary-color-background2;
//$text-input-background-color--focused: $primary-color-background2;
$text-input-background-color--error: $tertiary-color-background;
//$text-input-background-color--disabled: $primary-color-background2;

$text-input-text-color--default: $primary-color;
//$text-input-text-color--focused: $primary-color;
$text-input-text-color--error: $tertiary-color;
$text-input-text-color--disabled: $primary-color-background1;

$text-input-placeholder-color--default: $primary-color-background1;
//$text-input-placeholder-color--focused: $primary-color-background1;
$text-input-placeholder-color--error: $tertiary-color-highlight2-semi-transparent;
//$text-input-placeholder-color--disabled: $primary-color-background1;

$text-input-error-color: $tertiary-color;
