// input text field font-family and color
$text-input-font-family: $theme-font-family;
$text-input-error-font-family: $theme-font-family-2;

$text-input-title-color--default: #054127;
//$text-input-title-color--focused: #054127;
$text-input-title-color--error: #a30f27;
$text-input-title-color--disabled: #cdd9d4;

$text-input-border-color--default: #cdd9d4;
$text-input-border-color--focused: #054127;
$text-input-border-color--error: #a30f3c;
//$text-input-border-color--disabled: #cdd9d4;

$text-input-background-color--default: #f1f5f4;
//$text-input-background-color--focused: #f1f5f4;
$text-input-background-color--error: #f6e9ed;
//$text-input-background-color--disabled: #f1f5f4;

$text-input-text-color--default: #054127;
//$text-input-text-color--focused: #054127;
$text-input-text-color--error: #a30f27;
$text-input-text-color--disabled: #cdd9d4;

$text-input-placeholder-color--default: #cdd9d4;
//$text-input-placeholder-color--focused: #cdd9d4;
$text-input-placeholder-color--error: rgba(#a30f3c, 0.5); // #a30f3c @ 50% alpha
//$text-input-placeholder-color--disabled: #cdd9d4;

$text-input-error-color: #a30f27;
