// Theme palette
$primary-color: #054127;
$primary-color-highlight: #33654f;
$primary-color-alternative1: #cdd9d4;
$primary-color-alternative2: #f1f5f4;

$secondary-color: transparent;
$secondary-color-highlight: transparent;

$tertiary-color: #930f27;
$tertiary-color-highlight: #c94155;

$error-red-transparent-50-percent: rgba(#a30f3c, 0.5);
$tertiary-color-background: #f6e9ed;

// Theme General Intents
$background-color: $white;
$background-color-light-transparency: $white-20-percent-transparency;
$page-background-color: $background-color;
$page-background-color-light-transparency: $background-color-light-transparency;

// Theme Layout Intents
$text-color: $primary-color;
$text-color-inverse: $background-color;
$body-font-color: $text-color;
$heading-font-color: $text-color;
$note-font-color: $text-color;
$link-color: $text-color;
$modal-title-font-color: $text-color;
$modal-body-font-color: $text-color;
$error-color: $error-red;

// Theme Form Intents
$text-input-title-color--default: $primary-color;
$text-input-title-color--error: $tertiary-color;
$text-input-title-color--disabled: $primary-color-alternative1;

$text-input-border-color--default: $primary-color-alternative1;
$text-input-border-color--focused: $primary-color;
$text-input-border-color--error: $error-red;

$text-input-background-color--default: $primary-color-alternative2;
$text-input-background-color--error: $tertiary-color-background;

$text-input-text-color--default: $primary-color;
$text-input-text-color--error: $tertiary-color;
$text-input-text-color--disabled: $primary-color-alternative1;

$text-input-placeholder-color--default: $primary-color-alternative1;
$text-input-placeholder-color--error: $error-red-transparent-50-percent;

$text-input-error-color: $tertiary-color;
