.root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;

  &__header {
    color: #1e4045;
    font-size: 45px;
    font-weight: bold;

    &--sub-header {
      font-size: 30px;
    }
  }

  &__paragraph {
    margin: 30px auto;
  }

  &__list {
    margin-left: 70px;
    margin-bottom: 60px;

    &--item {
      padding-left: 20px;
      margin-bottom: 5px;
    }
  }

  &__table {
    width: 100%;
    text-align: left;
    border: solid 1px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  &__table-cell {
    padding: 0 5px 0 5px;
    border: solid 1px;
    font-weight: normal;

    &--td {
      vertical-align: top;
    }
  }
}
