@import "src/sass/mixins";

.root {
  @include section-style;

  display: grid;

  &--authorised,
  &--failed,
  &--pending {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 15px;
    column-gap: 12px;
    grid-template-areas:
      "image image"
      "transaction-history voucher-history";

    @media (min-width: 800px) {
      grid-template-columns: auto 250px;
      grid-template-rows: 1fr 1fr;
      row-gap: 25px;
      column-gap: 20px;
      grid-template-areas:
        "image transaction-history"
        "image voucher-history";
    }
  }

  &--no-payment-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 15px;
    grid-template-areas:
      "image image"
      "no-payment-card-state no-payment-card-state";

    @media (min-width: 800px) {
      grid-template-columns: auto 250px;
      grid-template-rows: auto;
      column-gap: 20px;
      grid-template-areas: "image no-payment-card-state";
    }
  }

  &--failed {
    grid-template-areas:
      "image image"
      "failed-state failed-state";

    @media (min-width: 800px) {
      grid-template-areas:
        "image failed-state"
        "image failed-state";
    }
  }

  &--pending {
    grid-template-areas:
      "image image"
      "pending-state pending-state";

    @media (min-width: 800px) {
      grid-template-areas:
        "image pending-state"
        "image pending-state";
    }
  }

  &__subtitle {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 800;

    @media (max-width: 799px) {
      &--desktop-only {
        display: none;
      }
    }

    @media (min-width: 800px) {
      &--mobile-only {
        display: none;
      }
    }
  }

  &__explainer {
    font-size: 18px;
    line-height: 1.2em;

    &-paragraph {
      margin: 0 0 1em;
    }

    @media (max-width: 799px) {
      &--desktop-only {
        display: none;
      }
    }

    @media (min-width: 800px) {
      &--mobile-only {
        display: none;
      }
    }
  }

  @mixin state-box {
    padding: 20px 20px 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.1);
  }

  &__no-payment-card-state {
    cursor: pointer;
    grid-area: no-payment-card-state;

    @include state-box;

    @media (min-width: 800px) {
      margin: 10px 0;
    }
  }

  &__failed-state {
    grid-area: failed-state;

    @include state-box;

    @media (min-width: 800px) {
      margin: 10px 0;
    }
  }

  &__pending-state {
    grid-area: pending-state;

    @include state-box;

    @media (min-width: 800px) {
      margin: 10px 0;
    }
  }

  &__transaction-history {
    cursor: pointer;
    grid-area: transaction-history;

    @include state-box;

    @media (min-width: 800px) {
      margin-top: 10px;
    }

    &--disabled {
      cursor: auto;
      color: #999;
    }
  }

  &__voucher-history {
    cursor: pointer;
    grid-area: voucher-history;

    @include state-box;

    @media (min-width: 800px) {
      margin-bottom: 10px;
    }

    &--disabled {
      cursor: auto;
      color: #999;
    }
  }

  &__authorised-svg {
    fill: $primary-color;

    &--bink {
      fill: url(#linearGradient-1);
    }
  }
}
