@import "src/sass/variables";

@mixin modal {
  &__header {
    font-size: 32px;
    margin: 0;
  }

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  &__box {
    background-color: white;
    z-index: 10000;
    position: fixed;
    width: 600px;
    max-width: 98%;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__body {
    padding: 30px;
    max-height: 80vh;
    overflow: auto;
  }

  &__close-button {
    position: absolute;
    font-size: 32px;
    line-height: 1em;
    right: 25px - 2px;
    top: 25px - 9px;
    cursor: pointer;
    background-color: rgba(#fff, 0.8);
    border: none;
  }

  &__top-fade {
    $top-fade-color: #fff;

    pointer-events: none;
    position: absolute;
    // prevent the fade element to render over the rounded corners at the top of the modal
    left: 14px;
    right: 14px;
    top: 0;
    background: transparent;
    background: linear-gradient(180deg, rgba($top-fade-color, 1) 0%, rgba($top-fade-color, 0) 100%);
    height: 25px - 9px;
  }

  &__bottom-fade {
    $bottom-fade-color: #fff;

    pointer-events: none;
    position: absolute;
    // prevent the fade element to render over the rounded corners at the bottom of the modal
    left: 14px;
    right: 14px;
    bottom: 0;
    height: 75px;
    background: transparent;
    background: linear-gradient(0deg, rgba($bottom-fade-color, 1) 0%, rgba($bottom-fade-color, 0.7) 70%, rgba($bottom-fade-color, 0) 100%);
  }
}
