@import "src/sass/mixins";

.root {
  &__subtitle {
    margin: 5px 0;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 800;
  }

  &__explainer {
    font-size: 18px;
    line-height: 1.2em;

    &-paragraph {
      margin: 0 0 1em;
    }
  }

  @mixin state-box {
    @include base-hover-style;

    padding: 20px;
    background: $page-background-color;
    border-radius: 20px;
    box-shadow: 0 3px 22px 0 $transparent-90-percent;

    &:hover {
      @include hover-style;
    }
  }

  &__no-payment-card-state {
    cursor: pointer;
    grid-area: no-payment-card-state;

    @include state-box;
  }

  &__failed-state {
    grid-area: failed-state;

    @include state-box;
  }

  &__pending-state {
    grid-area: pending-state;

    @include state-box;
  }

  &__transaction-history {
    cursor: pointer;
    grid-area: transaction-history;

    @include state-box;

    &--disabled {
      color: $disabled-color-dark;
    }
  }

  &__voucher-history {
    cursor: pointer;
    grid-area: voucher-history;

    @include state-box;

    &--disabled {
      color: $disabled-color-dark;
    }
  }

  &__authorised-svg {
    fill: $primary-color;

    &--bink {
      fill: url(#linearGradient-1);
    }
  }
}
