// Generic Colors
$semi-transparent:rgba(#000, 0.5);
$highly-transparent:rgba(#000, 0.1);
$transparent-85-percent:rgba(#000, 0.15);
$off-white: #eee;
$white: #fff;
$black: #000;
$blue-grey: #b1c2cb;

// Generic Intents
$account-menu-font-color: #444;
$payment-card-activating-background-color: #666;
$positive: #00c176;
$in-progress: #f5a623;
$disabled-color: #d8d8d8;
$disabled-color-dark: #999;
$list-divider-color: $off-white;
