// Global Color Palette, unlikely to change per theme
$transparent-50-percent:rgba(#000, 0.5);
$transparent-85-percent:rgba(#000, 0.15);
$transparent-90-percent:rgba(#000, 0.1);

$white: #fff;
$off-white: #eee;
$black: #000;

$grey-12-percent: #d8d8d8;
$grey-45-percent: #999;
$grey-75-percent: #444;

$bright-green: #00c176;
$bright-orange: #f5a623;
$blue-grey: #b1c2cb;
