// Global Color Palette, unlikely to change per theme
$transparent-50-percent:rgba(#000, 0.5);
$transparent-85-percent:rgba(#000, 0.15);
$transparent-90-percent:rgba(#000, 0.1);

$white: #fff;
$off-white: #eee;
$black: #000;

$grey-12-percent: #d8d8d8;
$grey-45-percent: #999;
$grey-75-percent: #444;

$bright-green: #00c176;
$bright-orange: #f5a623;
$blue-grey: #b1c2cb;

// Global Intents
$positive: $bright-green;
$in-progress: $bright-orange;
$disabled-color: $grey-12-percent;
$disabled-color-dark: $grey-45-percent;
$account-menu-font-color: $grey-75-percent;
$list-divider-color: $off-white;

//Currently these are identical across our themes but has a high chance of not being the case in future

// Theme General Intents
$page-background-color: $background-color;
$page-background-color-light-transparency: $background-color-light-transparency;
$error-color: $error-red;

// Theme Layout Intents
$text-color: $primary-color;
$inverse-text-color: $background-color;
$body-font-color: $text-color;
$heading-font-color: $text-color;
$note-font-color: $text-color;
$link-color: $text-color;
$modal-title-font-color: $text-color;
$modal-body-font-color: $text-color;
