// Global Color Palette, unlikely to change per theme
$transparent-50-percent:rgba(#000, 0.5);
$transparent-85-percent:rgba(#000, 0.15);
$transparent-90-percent:rgba(#000, 0.1);

$white: #fff;
$white-20-percent-transparency: rgba(#fff, 0.8);
$off-white: #eee;
$black: #000;

$grey-12-percent: #d8d8d8;
$grey-45-percent: #999;
$grey-75-percent: #444;

$bright-green: #00c176;
$bright-orange: #f5a623;
$blue-grey: #b1c2cb;

$tertiary-color: #a30f27;
$tertiary-color-highlight: #c94155;
$tertiary-color-background: #f6e9ed;

$error-red: #a30f3c;

$high-visibility-gray: rgb(216, 216, 216);
$high-visibility-opacity-gray: rgba(216, 216, 216, 0.5);

// Global Intents
$error-color: $error-red;
$positive: $bright-green;
$in-progress: $bright-orange;
$disabled-color: $grey-12-percent;
$disabled-color-dark: $grey-45-percent;
$account-menu-font-color: $grey-75-percent;
$list-divider-color: $off-white;
