
@mixin button-style {
  font-family: $font-scotch;
  // todo: change colour values to be accessed via variables.scss
  border-radius: 0;
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  height: 40px;

  &--primary {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $text-color-inverse;

    &:focus {
      background-color: $primary-color-highlight;
    }

    &:hover {
      background-color: $primary-color-alternative1;
    }

    &:active {
      background-color: $primary-color-alternative2;
    }
  }

  &--secondary {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: transparent;

    &:focus,
    &:hover {
      border: 1px solid $secondary-color-highlight;
      color: $secondary-color-highlight;
    }

    &:active {
      border: 1px solid $primary-color-alternative2;
      color: $primary-color-alternative2;
    }
  }

  &--tertiary {
    border: 1px solid $tertiary-color;
    background-color: $tertiary-color;
    color: $text-color-inverse;
  }

  &--disabled {
    border: 1px solid $disabled-button-color;
    background-color: $disabled-button-color;
    color: $disabled-button-text-color;

    &:hover,
    &:active {
      background-color: $disabled-button-color;
    }
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
