
@mixin button-style {
  font-family: $font-scotch;
  // todo: change colour values to be accessed via variables.scss
  border-radius: 0;
  font-size: 16px;
  line-height: 32px;
  padding: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  // set a min-height for cases where there is only an svg (e.g spinner) that might be block an not have a line-height
  // min-height = line-height + 2 * padding + 2 * border
  min-height: 56px;

  &--primary {
    border: 1px solid #48494b;
    background-color: #48494b; // todo: this is bad, not as fatface.com
    color: #fff;
  }

  &--secondary {
    border: 1px solid #57595b; // todo: this is bad, not as fatface.com
    color: #57595b;
    background-color: #fff; // todo: should be transparent @jack
  }

  &--tertiary {
    background-color: #a30f27; // todo: not defined yet by specs
    color: #fff; // todo: not defined yet by specs
  }

  &--disabled {
    background-color: #d8d8d8;
    color: #fff;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
