@import "src/sass/variables";

@mixin checkbox-group {
  display: grid;
  grid-template-columns: 26px auto;
  font-size: 14px;
  color: $text-color;

  &__box {
    position: relative;
    width: 13px;
    height: 13px;
    left: 3px;
    top: 2px;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) { // i.e. not Internet Explorer
    &__box {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid $checkbox-border-color;
      background-color: $checkbox-background-color;
    }

    &__box:checked {
      content: "";
    }

    &__box:checked::before { //left, 'downwards' line
      position: absolute;
      top: 45%;
      height: 12%;
      width: 40%;
      background-color: $checkmark-color;
      content: "";
      transform: translateX(10%) rotate(45deg);
      transform-origin: left bottom;
    }

    &__box:checked::after { //right, 'upwards' line
      position: absolute;
      top: 70%;
      bottom: 0;
      height: 12%;
      width: 80%;
      background-color: $checkmark-color;
      content: "";
      transform: translateX(50%) rotate(-45deg);
      transform-origin: left bottom;
    }
  }

  &__label {
    flex-grow: 1;
  }
}
