/* Global Color Palette, unlikely to change per theme */
$transparent-50-percent:rgba(#000, 50%);
$transparent-85-percent:rgba(#000, 0.15);
$transparent-90-percent:rgba(#000, 0.1);

$white: #fff;
$white-20-percent-transparency: rgba(#fff, 0.8);
$off-white: #eee;
$off-white-2: #f7f7f7;
$black: #000;

$grey-12-percent: rgb(216, 216, 216);
$grey-12-percent-50-percent-opacity: rgba(216, 216, 216, 50%);
$grey-45-percent: #999;
$grey-75-percent: #444;

$bright-green: #00c176;
$bright-orange: #f5a623;
$blue-grey: #b1c2cb;

$tertiary-color: #a30f27;
$tertiary-color-highlight: #c94155;
$tertiary-color-background: #f6e9ed;

$error-red: #a30f3c;

$delete-red: #b10000;

/* Global Intents */
$error-color: $error-red;
$positive: $bright-green;
$in-progress: $bright-orange;
$disabled-color: $grey-12-percent;
$disabled-color-dark: $grey-45-percent;
$account-menu-font-color: $grey-75-percent;
$list-divider-color: $off-white;
$high-visibility-gray: $grey-12-percent;
$high-visibility-opacity-gray: $grey-12-percent-50-percent-opacity;

$background-page-color: $off-white-2;
