/* Palette for Payment Cards */

$generic-gradient-left: #222;
$generic-gradient-right: #444;
$generic-gradient-fallback: #333;

$amex-gradient-left: #57c4ff;
$amex-gradient-right: #006bcd;
$amex-background-fallback: #2b97e6;

$mastercard-gradient-left: #eb001b;
$mastercard-gradient-right: #f79e1b;
$mastercard-background-fallback: #f4791b;

$visa-gradient-left: #181c51;
$visa-gradient-right: #13288d;
$visa-background-fallback: #16226e;

$add-card-gradient-left: #528d8d;
$add-card-gradient-right: #274a52;
$add-card-background-fallback: #385c68;

$payment-card-activating-background-color: #666;

$add-payment-card-color-limited: $disabled-color;
