@import "src/sass/mixins";

.root {
  text-align: center;
  margin-top: 54px;

  &__heading {
    @include heading-font-style;
  }

  &__description {
    @include body-font-style;

    max-width: 570px;
    margin: 0 auto;
  }

  &__loading {
    margin-top: 5px;
  }
}
