@import "src/sass/variables";
@import "src/sass/mixins";

.root {
  max-width: 810px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;

  &--add-only {
    display: block;
    margin: 0 auto;
    max-width: 470px;
  }

  @media (min-width: 630px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__group {
    &--full-width {
      @media (min-width: 630px) {
        grid-column: span 2;
      }
    }

    &--text-only {
      color: $text-color;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__link {
    @include link;
  }

  &__error {
    text-align: center;
    color: #a30f27;

    @media (min-width: 630px) {
      grid-column: span 2;
    }
  }

  &__submit {
    display: block;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 630px) {
      grid-column: span 2;
    }

    &--add-only {
      max-width: 100%;
      width: 470px;
    }
  }
}
