@import "src/sass/variables";
@import "src/sass/mixins";

.root {
  max-width: 810px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 13px;

  &--add-only {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 470px;
  }

  @media (min-width: 630px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__group {
    margin: 6px 0;

    &--dynamic-field {
      margin: 0;
    }

    &--full-width {
      @media (min-width: 630px) {
        grid-column: span 2;
      }
    }

    &--text-only {
      color: $text-color;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__link {
    @include link;
  }

  &__submit {
    display: block;
    margin: 0 auto;

    @media (min-width: 630px) {
      grid-column: span 2;
    }
  }
}
