@import "src/sass/variables";

.root {
  cursor: pointer;
  background: $add-card-background-fallback;
  background: linear-gradient(to right, $add-card-gradient-left, $add-card-gradient-right);

  &__border {
    height: 120px;
    border: 4px solid $add-card-background-fallback;
    border-image: url("/images/card-dash.svg") 12 round;
    border-image-width: 12px;
  }

  &__inner {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $page-background-color;
  }

  /* TODO: Temporary fix for SVGO upgrade bug not recognising $add-payment-card-color */
  &__payment-add-svg {
    fill: linear-gradient(to right, #274a52, #528d8d);
  }
}
