@import "src/sass/variables";

@mixin voucher-style {
  &__title {
    color: $primary-color;
    font-size: 18px;
    font-weight: bold;
  }

  &__description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__headline {
    color: $black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__progress {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
  }

  &__footer {
    font-size: 14px;
  }

  &__progress-value {
    display: block;
    font-weight: bold;
    line-height: 1em;
  }
}
