.root {

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__input {
    display: block;
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    font-size: 16px;

    transition: border-bottom-color 0.3s;

    &:hover, &:active, &:focus {
      outline: none;
    }

    &:focus {
      border-bottom-color: #666;
    }

    &--invalid {
      border-bottom-color: red;
      color: red;

      &:focus {
        border-bottom-color: red;
      }
    }
  }
}