name: ci

on:
  push:
    branches: [ develop, master, CI_creation ]
  pull_request:
    branches: [ develop, master ]
  release:
    types: [ published ]

jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest
    env:
      NODE_CONFIG_ENV: development
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Tests Install
        working-directory: ./packages/Web
        run: yarn install --frozen-lockfile
      - name: Tests js Lint
        working-directory: ./packages/Web
        run: yarn run lint-js
      - name: Test css lint
        working-directory: ./packages/Web
        run: yarn run lint-css
      
  create_dev_release_bink:
    if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
    name: bink-build-dev
    runs-on: ubuntu-latest
    needs: [ tests ]
    steps:
      - uses: actions/checkout@v3
      - id: vars
        run: echo "::set-output name=date::$(date +'%FT%H%M%SZ')"
      - uses: docker/login-action@v1
        with:
          registry: binkcore.azurecr.io
          username: binkcore
          password: ${{ secrets.ACR_BINKCORE_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            binkcore.azurecr.io/web:bink-${{ steps.vars.outputs.date }}
            binkcore.azurecr.io/web:bink-latest
          build-args: |
            "THEME=bink"
            "NODE_CONFIG_ENV=development"
            "CI_RELEASE_TAG=${{ steps.vars.outputs.date }}"
            "CI_RELEASE_SHA=$GITHUB_SHA

  create_dev_release_wasabi:
    if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
    name: wasabi-build-dev
    runs-on: ubuntu-latest
    needs: [ tests ]
    steps:
      - uses: actions/checkout@v3
      - id: vars
        run: echo "::set-output name=date::$(date +'%FT%H%M%SZ')"
      - uses: docker/login-action@v1
        with:
          registry: binkcore.azurecr.io
          username: binkcore
          password: ${{ secrets.ACR_BINKCORE_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            binkcore.azurecr.io/web:wasabi-${{ steps.vars.outputs.date }}
            binkcore.azurecr.io/web:wasabi-latest
          build-args: |
            THEME=wasabi
            NODE_CONFIG_ENV=development
            CI_RELEASE_TAG=${{ steps.vars.outputs.date }}
            CI_RELEASE_SHA=$GITHUB_SHA

  # create_staging_release_bink:
  # create_staging_release_wasabi:
